[user]
	email = echavemann@gmail.com
	name = Ethan Havemann

[core]
    editor = nvim
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections
    dark = true      # or light = true, or omit for auto-detection

[alias]
    co = checkout
    com = checkout main

    st = status
    b = branch

[push]
    autoSetupRemote = true
